section {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
.container{
    width: 250px;
    height: 250px;
    /* background-color: orange; */
    display: flex;
    flex-wrap: wrap;
}
.block{
    height: 50px;
    width: 50px;
}
.crazy-block{
    height: 50px;
    width: 50px;
}