body{
    transition: all 1s;
}
#results-list{
    font-family: 'Roboto';
    font-weight: 100;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    width: 100%;
    justify-content: space-evenly;
}
button:hover{
    cursor: pointer;
}
#characters{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 30px;
    border: 0 transparent;
    background-color: transparent;
    border-bottom: white 1px solid;
}
#characters:hover{
    cursor: pointer;
    border-bottom: black 1px solid;
}

/*characters cards*/
.character{
    margin: 10px;
    display: flex;
    padding: 5px;
}
.character:hover{
    box-shadow: grey 0px 0px 5px;
    cursor: pointer;
}
.character img{
    background-color: white;
    height: 103px;
}
.character-description{
    min-width: 100px;
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.character-description p{
    /*font-size: 15px;*/
    font-size: 1vw;
    margin: 0px;
}
.character-name::before{
    content: 'name: ';
    font-weight: 400;
}
.character-age::before{
    content: 'age: ';
    font-weight: 400;
}
.character-gender::before{
    content: 'gender: ';
    font-weight: 400;
}

/*buttons*/
#controls{
    display: flex;
    justify-content: center;
}
#film-controls{
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
}
#planets-controls{
    /*background-color: grey;*/
    text-align: center;
    margin: 5px 10px;
}
#planets{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 30px;
    border: 0 transparent;
    background-color: transparent;
    border-bottom: white 1px solid;
}
#planets:hover{
    cursor: pointer;
    border-bottom: black 1px solid;
}
.planet-card{
    width: 200px;
    height: 200px;
    color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 400;
    transition: all .5s;
}
.planet-card:hover{
    box-shadow: 0px 10px 30px whitesmoke;
    cursor: pointer;
}
.dark{
    color: white;
    border-bottom: black 1px solid;
}
.dark:hover{
    border-bottom: white 1px solid;
}